body
{
    font-family: "Roboto", sans-serif;
}

#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.formlogin
{
    margin-top: 50px;
    display: block;
    text-align: center;
}

.label
{
    color: white;
    font-style: italic;
    text-align: left;
}

.inputfield
{
   border-radius: 15px;
   opacity: 0.5;
   padding: 5px;
   padding-left: 30px;
   padding-right: 30px;
   margin-bottom: 10px;
   border-style: none;
}

.button
{
    border-radius: 15px;
    padding: 5px;
    padding-left: 95px;
    padding-right: 95px;
    margin-top: 20px;
    color: #4584C2;
    background-color: white;
    border-style: none;
}

#registerlink
{
    display: block;
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 12px;
    font-style: italic;
}

/*index.php*/

nav
{
    background-color: #4584C2;
    padding: 5px;
}

#navLogo
{
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navItems
{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

#searchNav
{
    display: flex;
    justify-content: center;
    opacity: 0.5;
    margin-top: 10px;
    margin-bottom: 10px;
}

#searchNav input
{
    border-radius: 15px;
    border-style: none;
    color: black;
    text-align: center;
}

h1
{
    text-align: center;
}

.formToppic
{
    display: block;
    text-align: center;
}

#buttonplus
{
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 72px;
}

#buttondrop
{
    padding-left: 65px;
    padding-right: 65px;
    margin-top: 30px;
    margin-bottom: 20px;
}


@media (min-width: 30em)
{
    nav 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #navLogo 
    {
        width: 60%;
        max-width: 70%;
        margin-left: 10px;
        margin-right: 0px;
    }

    .navItems
    {
       font-size: 11px;
    }

    #buttonplus
    {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 40em)
{
    .navItems
    {
       font-size: 18px;
    }

    #searchNav
    {
        margin-right: 40px;
    }
}