body
{
    font-family: "Open Sans", sans-serif;
    background-color: #4584C2;
}

#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.label
{
    color: white;
    font-style: italic;
    margin-top: 10px;
}

.inputfield
{
   border-radius: 15px;
   opacity: 50%;
   
}

.button
{
    border-radius: 15px;
    padding-left: 65px;
    padding-right: 65px;
    margin-top: 20px;
    color: #4584C2;
    background-color: white;
}

.formlogin
{
    margin-top: 50px;
    display: block;
    text-align: center;
}

#registerlink
{
    text-align: center;
    color: white;
    text-decoration: none;
}